<template name="taxCategorySearch">
  <div class="row">
    <div class="pull-left">
      <p style="font-size: 1.2em;">Star your frequently used ones or to save for later. Clear your search to review saved results.</p>
    </div>
  </div>
  <div class="row">
    <div class="pull-right">
      <input type="text" name="search" class="form-control" width="250px" placeholder="Find a tax code...">
    </div>
    <div class="pull-right" style="margin-left: 15px;">
      <a href="#" class="btn btn-sm btn-success btn-round mt-4 view-starred"><i class="material-icons" style="color: gold">star</i> View Saved</a>
    </div>
  </div>

  <div class="row" style="display: table; margin-top: 15px;">
    <hr>
    <div style="display: table-cell;">
      <table class="tax-categories table table-bordered" style="font-size: 1.5em; table-layout: fixed; width: 100%;">
        <thead>
          <tr>
            <th>Product Tax Code</th>
            <th>Category Name</th>
            <th>Category Description</th>
          </tr>
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
          {{#if searching}}
            <h3>Searching...</h3>
          {{else}}
            {{#each taxCodes}}
              <tr>
                <td>
                  <a href="#" class="star-ptc">
                    <i class="material-icons" style="color: gold">
                      {{#if this.starred}}star{{else}}star_outline{{/if}}
                    </i>
                  </a>
                  {{productTaxCode}}
                </td>
                <td>{{name}}</td>
                <td>{{description}}</td>
              </tr>
            {{else}}
              <h3>Nothing found for {{query}}.</h3>
            {{/each}}
          {{/if}}
        </tbody>
      </table>
    </div>
  </div>
</template>
