<template name="explain">
  <div class="row">
    <div class="col-md-12 ml-auto mr-auto">
      <h1 class="text-center">Tax Calculation Review</h1>
    </div>
  </div>
  {{#if checkRounding.pennyRounding}}
    <div class="row" style="margin-top: 2%;">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="alert alert-primary text-center" style="font-size: 1.3em;"><strong>Penny-rounding found in the tax calculation response.</strong> Would you like to see why? <a href="#pennyRounding"><button class="btn btn-info btn-sm">Show me</button></a></div>
      </div>
    </div>
  {{/if}}
  <div class="row">
    <div class="col-md-10 ml-auto mr-auto">
      <div class="card" style="">
        <div class="card-header card-header-rose card-header-text">
          <div class="card-icon">
            <i class="material-icons">construction</i>
          </div>
          <h2 class="card-title text-center">Request Body</h2>
        </div>
        <div class="card-body">
          <div class="row" style="margin-top: 5%; display: table-row">
            <div class="col-md-6 ml-auto mr-auto" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <div style="bottom: 0; font-size: 1.4em;">
                {{#prism language="javascript" class="line-numbers"}}
                  "from_street"         -> {{fromStreet}}
                  "from_city"           -> {{fromCity}}
                  "from_state"          -> {{fromState}}
                  "from_zip"            -> {{fromZip}}
                  "from_country"        -> {{fromCountry}}

                  "to_street"           -> {{toStreet}}
                  "to_city"             -> {{toCity}}
                  "to_state"            -> {{toState}}
                  "to_zip"              -> {{toZip}}
                  "to_country"          -> {{toCountry}}
                {{/prism}}
              </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto" id="addressParams" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <h3 class="text-center">Address Parameters.</h3>
              <p style="font-size: 1.3em;"><code>"from_"</code> and <code>"to_"</code> address parameters. At a minimum, a "to_state" and "to_zip" are required. However, <a href="https://developers.taxjar.com/integrations/sales-tax-calculations/" target="_blank">TaxJar provides rooftop level accuracy</a>. The more address detail provided, the higher the chances of receiving an accurate rate and/or product exemptions.<br/>
                <br/><code>"from_"</code> parameters provides TaxJar with the origin of shipment, or where the seller's liability of title (products or services) ends. If left absent, TaxJar will default to the Business Profile address of the account. If an integration takes advantage of multiple locations of origin, <code>"from_"</code> parameters should be present.
              </p>
            </div>
          </div>
          <hr>
          <div class="row" style="margin-top: 5%; display: table-row">
            <div class="col-md-6 ml-auto mr-auto" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <div style="bottom: 0; font-size: 1.4em;">
                {{#prism language="javascript" class="line-numbers"}}
                  "amount"              -> {{reqAmount}}
                {{/prism}}
              </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto" id="reqAmount" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <h3 class="text-center">Amount.</h3>
              <p style="font-size: 1.3em;">
                The <code>"amount"</code> parameter is optional so long as <code>"line_items"</code> details are provided. The value of <code>"amount"</code> is required if <code>"line_items"</code> are not present.<br/>
                <br/>Despite being ignored in the first circumstance, however, it is suggested to utilize the <code>"amount"</code> parameter for soft logging and best practices. In this example: <br/><code>"amount" = "line_items[*].unit_price" * "line_items[*].quantity"</code>, not including <code>"line_items[*].discounts"</code>.
              </p>
            </div>
          </div>
            <hr>
          <div class="row" style="margin-top: 5%; display: table-row">
            <div class="col-md-6 ml-auto mr-auto" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <div style="bottom: 0; width: 100%; font-size: 1.4em;">
                {{#prism language="javascript" class="line-numbers"}}
                  "shipping"            -> {{reqShipping}}
                {{/prism}}
              </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto" id="reqShipping" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <h3 class="text-center">Shipping.</h3>
              <p style="font-size: 1.3em;">
                <code>"shipping"</code> is a required parameter, even if no shipping is applicable. For example, in providing services. Under these circumstances, <code>"shipping": "0"</code> is applicable.<br/><br/>
                If shipping is considered taxable based on the destination, a <code>"shipping" : {..}"</code> object will be returned in the response body.<br/><br/>
                In this calculation, <strong>shipping was {{#if breakdownShipping}}taxable{{else}}not taxable{{/if}}.</strong>
              </p>
            </div>
          </div>
          <hr>
          <div class="row" style="margin-top: 5%; display: table-row">
            <div class="col-md-6 ml-auto mr-auto" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <div style="bottom: 0; width: 100%; font-size: 1.4em;">
                {{#prism language="javascript" class="line-numbers"}}
                  "customer_id"         -> {{reqCustomerId}}
                {{/prism}}
              </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto" id="reqCustomerId" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <h3 class="text-center">Customer ID.</h3>
              <p style="font-size: 1.3em;">
                The <code>"customer_id"</code> is utilized to associate a sales tax calculation with a <code>"customer"</code> object. When a <code>"customer_id"</code> value is implied, TaxJar's sales tax engine will query for the associated customer record.<br/><br/>
                If a matching value is found, any applicable customer entity exemptions will apply. See <a href="https://developers.taxjar.com/api/reference/#customers" target="_blank">/v2/customers API endpoints</a>.<br/><br/>
                In this calculation, <strong>{{#if reqCustomerId}} a <code>"customer_id"</code> of <code>{{reqCustomerId}}</code> was passed{{else}} no <code>"customer_id"</code> value was supplied{{/if}}.</strong>
              </p>
            </div>
          </div>
          <hr>
          <div class="row" style="margin-top: 5%; display: table-row">
            <div class="col-md-6 ml-auto mr-auto" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <div style="bottom: 0; width: 100%; font-size: 1.4em;">
                {{#prism language="javascript" class="line-numbers"}}
                  "exemption_type"      -> {{reqExemptionType}}
                {{/prism}}
              </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto" id="reqExemptionType" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <h3 class="text-center">Exemption Type.</h3>
              <p style="font-size: 1.3em;">
                Similar to <code>"customer_id"</code>, the <code>"exemption_type"</code> parameter provides the ability to specify an order-level exemption.<br/><br/>
                Valid <code>"exemption_type"</code> values include <code>"wholesale"</code>, <code>"government"</code>, <code>"marketplace"</code>, <code>"other"</code>, or <code>"non_exempt"</code>.<br/><br/>
                Supplying a value of <code>"non_exempt"</code> is the same as not supplying an <code>"exemption_type"</code> at all. The order would be considered taxable based on product, destination, and nexus eligibility.<br/><br/>
                For demonstrative purposes, order-level <code>"exemption_type"</code> properties are not utilized in this application in favor of demonstrating <a href="https://developers.taxjar.com/api/reference/#post-create-a-customer" target="_blank">full <code>"customer"</code> object support</a>.
              </p>
            </div>
          </div>
          <hr>
          <div class="row" style="margin-top: 5%; display: table-row">
            <div class="col-md-6 ml-auto mr-auto" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <div style="bottom: 0; width: 100%; font-size: 1.4em;">
                {{#prism language="javascript" class="line-numbers"}}
                  "line_items": {{reqLineItems}}
                {{/prism}}
              </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto" id="reqLineItems" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <h3 class="text-center">Line Items.</h3>
              <p style="font-size: 1.3em;">
                  <code>"line_items"</code> details. This is an <code>array[]</code> of <code>objects{}</code>. When calculating sales tax, it is recommended to take advantage of all parameters. This includes the following:<br/><br/>
                  <code>"id"</code>, <code>"quantity"</code>, <code>"product_tax_code"</code>, <code>"unit_price"</code>; and <code>"discount"</code>, as applicable.<br/><br/>
                  <strong>Note:</strong> <code>"id"</code> is explicit to an identifier of the <code>"line_item"</code> in a sales tax calculation. For example, <code>"id": "1"</code>, <code>"id": "2"</code>, and <code>"id": "3"</code>. Do not use things like Product SKU's, catalog numbers, or inventory control figures. The API will reject the presence of duplicate values. Such as in the case where a customer may include the same product more than once as a <code>"line_item"</code>. <br/><br/>
                  See the table below for the composition of your sales tax calculation request, and the assumed values TaxJar will determine taxability against.
              </p>
              <div class="row" style="display: table; margin-top: 15px;">
                <div style="display: table-cell;">
                  <table class="table table-bordered" style="font-size: 1.3em; table-layout: fixed; width: 100%;">
                    <thead>
                      <tr>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th>Discount</th>
                        <th>Line Item Total</th>
                      </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody>
                      {{#each reqLineItemDetails.line_items}}
                        <tr>
                          <td>{{this.unit_price}}</td>
                          <td>{{this.quantity}}</td>
                          <td>{{this.discount}}</td>
                          <td>{{getTotal}}</td>
                        </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="card" style="">
        <div class="card-header card-header-primary card-header-text">
          <div class="card-icon">
            <i class="material-icons">construction</i>
          </div>
          <h2 class="card-title text-center">Response Body</h2>
        </div>
        <div class="card-body">
          <div class="row" style="margin-top: 5%; display: table-row">
            <div class="col-md-6 ml-auto mr-auto" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <div style="bottom: 0; width: 100%; margin: 0 auto; font-size: 1.4em;">
                {{#prism language="javascript" class="line-numbers"}}
                  "order_total_amount"  -> {{orderTotalAmount}}
                {{/prism}}
              </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto" id="resOta" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <h3 class="text-center">Order Total Amount.</h3>
              <p style="font-size: 1.3em;">
                The <code>"order_total_amount"</code> is equal to the sum of all <code>line_items[*].unit_price * line_items[*].quantity - line_items[*].discount</code>.
              </p>
            </div>
          </div>
          <hr>
          <div class="row" style="margin-top: 5%; display: table-row">
            <div class="col-md-6 ml-auto mr-auto" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <div style="bottom: 0; width: 100%; margin: 0 auto; font-size: 1.4em;">
                {{#prism language="javascript" class="line-numbers"}}
                  "shipping"            -> {{resShipping}}
                {{/prism}}
              </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto" id="resShipping" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <h3 class="text-center">Shipping.</h3>
              <p style="font-size: 1.3em;">
                The <code>"shipping"</code> amount indicated during the initial request. Shipping taxability is dependent on the destination state, as well as several other factors.
              </p>
            </div>
          </div>
          <hr>
          <div class="row" style="margin-top: 5%; display: table-row">
            <div class="col-md-6 ml-auto mr-auto" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <div style="bottom: 0; width: 100%; margin: 0 auto; font-size: 1.4em;">
                {{#prism language="javascript" class="line-numbers"}}
                  "taxable_amount"      -> {{taxTaxableAmount}}
                {{/prism}}
              </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto" id="resTaxableAmount" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <h3 class="text-center">Taxable Amount.</h3>
              <p style="font-size: 1.3em;">
                The <code>"taxable_amount"</code> is equal to the sum of all <code>(line_items[*].unit_price * line_items[*].quantity) - line_items[*].discount</code>.
              </p>
            </div>
          </div>
          <hr>
          <div class="row" style="margin-top: 5%; display: table-row">
            <div class="col-md-6 ml-auto mr-auto" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <div style="bottom: 0; width: 100%; margin: 0 auto; font-size: 1.4em;">
                {{#prism language="javascript" class="line-numbers"}}
                  "amount_to_collect"   -> {{amountToCollect}}
                {{/prism}}
              </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto" id="resAtc" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <h3 class="text-center">Amount to Collect.</h3>
              <p style="font-size: 1.3em;">
                The <code>"amount_to_collect"</code> is the sum of <code>tax.breakdown.special_district_tax_collectable + tax.breakdown.city_tax_collectable + tax.breakdown.county_tax_collectable + tax.breakdown.state_tax_collectable</code>. <br/><br/>
                These values are, in turn, the sum of all <code>tax.breakdown.line_items.tax_collectable</code> amounts.
              </p>
            </div>
          </div>
          <hr>
          <div class="row" style="margin-top: 5%; display: table-row">
            <div class="col-md-6 ml-auto mr-auto" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <div style="bottom: 0; width: 100%; margin: 0 auto; font-size: 1.4em;">
                {{#prism language="javascript" class="line-numbers"}}
                  "rate"                -> {{rate}}
                {{/prism}}
              </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto" id="resRate" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <h3 class="text-center">Rate.</h3>
              <p style="font-size: 1.3em;">
                The <code>"rate"</code> value is typically that of the <code>tax.combined_tax_rate</code> value. Since different line_items could have different rates apply, it is common for the <code>"rate"</code> to be a cumulative figure of all <code>tax.combined_tax_rate</code> values.
              </p>
            </div>
          </div>
          <hr>
          <div class="row" style="margin-top: 5%; display: table-row">
            <div class="col-md-6 ml-auto mr-auto" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <div style="bottom: 0; width: 100%; margin: 0 auto; font-size: 1.4em;">
                {{#prism language="javascript" class="line-numbers"}}
                  "has_nexus"            -> {{hasNexus}}
                {{/prism}}
              </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto" id="resHasNexus" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <h3 class="text-center">Has Nexus.</h3>
              <p style="font-size: 1.3em;">
                <code>"has_nexus"</code> will always return a boolean value. If <code>"has_nexus"</code> is true, it means one of the following conditions applies:<br/>
                <ul style="font-size: 1.3em;">
                  <li>The TaxJar account has a <a href="https://app.taxjar.com/account#states" target="_blank">user state defined</a> that matches the "to_state" body parameter</li>
                  <li>Request body <code>"from_state"</code> and <code>"to_state"</code> parameters are the same</li>
                  <li>At least one of the Request body <code>"nexus_addresses[*].state"</code> and <code>"to_state"</code> parameters are the same</li>
                </ul>
              </p>
            </div>
          </div>
          <hr>
          <div class="row" style="margin-top: 5%; display: table-row">
            <div class="col-md-6 ml-auto mr-auto" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <div style="bottom: 0; width: 100%; margin: 0 auto; font-size: 1.4em;">
                {{#prism language="javascript" class="line-numbers"}}
                  "freight_taxable"     -> {{freightTaxable}}
                {{/prism}}
              </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto" id="resFreightTaxable" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <h3 class="text-center">Freight Taxable.</h3>
              <p style="font-size: 1.3em;">
                <code>"freight_taxable"</code> will always return a boolean value. If <code>"freight_taxable"</code> returns true, shipping is taxable. This is determined by the "to_state".<br/><br/>
                When <code>"freight_taxable"</code> is true, anticipate a Response body <code>"tax.breakdown.shipping"</code> object.<br/><br/>
              </p>
            </div>
          </div>
          <hr>
          <div class="row" style="margin-top: 5%; display: table-row">
            <div class="col-md-6 ml-auto mr-auto" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <div style="bottom: 0; width: 100%; margin: 0 auto; font-size: 1.4em;">
                {{#prism language="javascript" class="line-numbers"}}
                  "tax_source"          -> {{taxSource}}
                {{/prism}}
              </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto" id="resTaxSource" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <h3 class="text-center">Tax Source.</h3>
              <p style="font-size: 1.3em;">
                The <code>"tax_source"</code> is a determination of what type of sales tax logic applies. It will always hold a value of <code>"origin"</code> -or- <code>"destination"</code>.<br/><br/>
                Tax sourcing has a number of variable factors that could apply. For example:</p>
                <ul style="font-size: 1.3em;">
                  <li>Is the request body <code>"to_state"</code> an origin-based sales tax state, or destination-based?</li>
                  <li>Is the business located in the state, if origin-based (physical nexus)?</li>
                  <li>Does the state have a specific remote sellers sales tax rate, and is the business registered for such a rate?</li>
                </ul><br/>
                <p style="font-size: 1.3em;">
                For more on tax sourcing determinations and state-specific details, read TaxJar's blog here: <a href="https://blog.taxjar.com/charging-sales-tax-rates/" target="_blank">Origin-based and Destination-based Sales Tax Collection 101</a>.
              </p>
            </div>
          </div>
          <hr>
          <div class="row" style="margin-top: 5%; display: table-row">
            <div class="col-md-6 ml-auto mr-auto" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <div style="bottom: 0; width: 100%; margin: 0 auto; font-size: 1.4em;">
                {{#prism language="javascript" class="line-numbers"}}
                  "jurisdictions": {{jurisdictions}}
                {{/prism}}
              </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto" id="resJurisdictions" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <h3 class="text-center">Jurisdictions.</h3>
              <p style="font-size: 1.3em;">
                <code>"jurisdictions"</code> returns an object of the referenced locale utilized to determine a sales tax rate. <strong>It is not always a reference to the jurisdiction a product or service is being provided to.</strong> The jurisdiction is dependent on several factors:<br/>
                <ul style="font-size: 1.3em;">
                  <li>Does the <code>"to_state"</code> have a single state sales tax rate (presence of just <code>jurisdictions.country && jurisdictions.state</code>)?</li>
                  <li>Is the <code>"to_state"</code> origin-based, or destination based?</li>
                  <li>Are the <code>"to_*"</code> address parameters in an incorporated community, or unincorporated?</li>
                </ul>
              </p>
            </div>
          </div>
          <hr>
          <div class="row" style="margin-top: 5%; display: table-row">
            <div class="col-md-6 ml-auto mr-auto" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <div style="bottom: 0; width: 100%; margin: 0 auto; font-size: 1.4em;">
                {{#prism language="javascript" class="line-numbers"}}
                  "taxable_amount"                  -> {{breakdownTaxableAmount}}
                  "tax_collectable"                 -> {{breakdownTaxCollectable}}
                  "combined_tax_rate"               -> {{breakdownCombinedTaxRate}}
                  "state_taxable_amount"            -> {{breakdownStateTaxableAmount}}
                  "state_tax_rate"                  -> {{breakdownStateTaxRate}}
                  "state_tax_collectable"           -> {{breakdownStateTaxCollectable}}
                  "county_taxable_amount"           -> {{breakdownCountyTaxableAmount}}
                  "county_tax_rate"                 -> {{breakdownCountyTaxRate}}
                  "county_tax_collectable"          -> {{breakdownCountyTaxCollectable}}
                  "special_district_taxable_amount" -> {{breakdownSpecialTaxableAmount}}
                  "special_tax_rate"                -> {{breakdownSpecialTaxRate}}
                  "special_district_tax_collectable"-> {{breakdownSpecialTaxCollectable}}
                {{/prism}}
              </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto" id="breakdownDetails" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <h3 class="text-center">Breakdown Details.</h3>
              <p style="font-size: 1.3em;">
                The <code>"breakdown"</code> object of the Response body holds a summary of all sales tax details of the calculation request. It serves as a high-level overview of taxability based on sourcing, <code>"line_items"</code> details, and <code>"shipping"</code>, if taxable.
              </p>
            </div>
          </div>
          <hr>
          <div class="row" style="margin-top: 5%; display: table-row">
            <div class="col-md-6 ml-auto mr-auto" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <div style="bottom: 0; width: 100%; margin: 0 auto; font-size: 1.4em;">
                {{#prism language="javascript" class="line-numbers"}}
                  "line_items": {{breakdownLineItems}}
                {{/prism}}
              </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto" id="resLineItems" style="width: 50%; height: 100%; vertical-align: top; display: table-cell;">
              <h3 class="text-center">Line Item Details.</h3>
              <p style="font-size: 1.3em;">
                Further into the <code>"breakdown"</code> object is the <code>"line_items"</code> array. Similar to the Request body's <code>"line_items"</code>, each child is an object of the array, and each object represents one line item.<br/><br/>
              </p>
              <div class="row" style="display: table; margin-top: 15px;">
                <div style="display: table-cell;">
                  <table class="table table-bordered" style="font-size: 1.3em; table-layout: fixed; width: 100%;">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Taxable Amount</th>
                        <th>Combined Rate</th>
                        <th>Tax collectable</th>
                      </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody>
                      {{#each resLineItemDetails.tax.breakdown.line_items}}
                        <tr>
                          <td>{{this.id}}</td>
                          <td>{{this.taxable_amount}}</td>
                          <td>{{this.combined_tax_rate}}</td>
                          <td>{{this.tax_collectable}}</td>
                        </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row" style="margin-top: 5%; display: table-row">
            <div class="col-md-6 ml-auto mr-auto" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <div style="bottom: 0; width: 100%; margin: 0 auto; font-size: 1.4em;">
                {{#prism language="javascript" class="line-numbers"}}
                  "shipping": {{breakdownShipping}}
                {{/prism}}
              </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto" id="resShippingDetails" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
              <h3 class="text-center">Shipping Details.</h3>
              <p style="font-size: 1.3em;">
                <code>"shipping"</code> will either return an object, or not exist at all. If <code>"freight_taxable"</code> is true, then TaxJar's API has determined that sales tax on shipping should be calculated.<br/><br/>
                The breakdown of the "shipping" object is identical to that of <code>"line_items"</code>.
              </p>
            </div>
          </div>
        </div>
      </div>

      {{#if checkRounding.pennyRounding}}
        <div class="card" style="">
          <div class="card-header card-header-info card-header-text">
            <div class="card-icon">
              <i class="material-icons">compare_arrows</i>
            </div>
            <h2 class="card-title text-center">Additional Info</h2>
          </div>
          <div class="card-body">
            <div class="row" style="margin-top: 5%; display: table-row">
              <div class="col-md-6 ml-auto mr-auto" style="width: 50%; height: 100%; vertical-align: middle; display: table-cell;">
                <div style="bottom: 0; width: 100%; margin: 0 auto; font-size: 1.4em;">
                  {{#prism language="javascript" class="line-numbers"}}
                    {
                      "tax": {
                        ...
                        "amount_to_collect": {{amountToCollect}}
                        ...
                      },
                      "breakdown": {
                        ...
                      "line_items": {{breakdownLineItems}}{{#with resLineItemDetails.tax.breakdown.shipping}},
                      "shipping": {{breakdownShipping}}
                      }{{/with}}
                    }
                  {{/prism}}
                </div>
              </div>
              <div class="col-md-6 ml-auto mr-auto" id="pennyRounding" style="width: 50%; height: 100%; display: table-cell;">
                <h3 class="text-center">Penny Rounding.</h3>
                <p style="font-size: 1.3em;">
                  "Penny rounding" occurs when the sum of all <strong>sales tax due for line items</strong> (<code>response_body.tax.breakdown.line_items[*].tax_collectable</code>) and <strong>sales tax due for shipping</strong> (<code>response_body.tax.breakdown.shipping.tax_collectable</code>, if applicable) doesn't add up to the <strong>total amount of sales tax to collect</strong> (<code>response_body.tax.amount_to_collect</code>). <br/><br/>
                  This makes more sense looking at the data from your sales tax calculation's <code>"response_body"</code>:
                </p>
                <h4 style="font-weight: bold; margin-top: 2%;">
                  Line Items.
                </h4>
                <div class="row" style="display: table; margin-top: 15px;">
                  <div style="display: table-cell;">
                    <table class="table table-bordered" style="font-size: 1.3em; table-layout: fixed; width: 100%;">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Taxable Amount</th>
                          <th>Combined Tax Rate</th>
                          <th>Decimal Value</th>
                          <th>Rounded Value</th>
                        </tr>
                      </thead>
                      <tfoot>
                      </tfoot>
                      <tbody>
                        {{#each resLineItemDetails.tax.breakdown.line_items}}
                          <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.taxable_amount}}</td>
                            <td>{{this.combined_tax_rate}}</td>
                            <td>{{getDecimal}}</td>
                            <td>{{getRounded}}</td>
                          </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  </div>
                </div>
                {{#with resLineItemDetails.tax.breakdown.shipping}}
                  <h4 style="font-weight: bold; margin-top: 2%;">
                    Shipping.
                  </h4>
                  <div class="row" style="display: table; margin-top: 15px;">
                    <div style="display: table-cell;">
                      <table class="table table-bordered" style="font-size: 1.3em; table-layout: fixed; width: 100%;">
                        <thead>
                          <tr>
                            <th>Taxable Amount</th>
                            <th>Combined Tax Rate</th>
                            <th>Decimal Value</th>
                            <th>Individually Rounded</th>
                          </tr>
                        </thead>
                        <tfoot>
                        </tfoot>
                        <tbody>
                          {{#with resLineItemDetails.tax.breakdown.shipping}}
                            <tr>
                              <td>{{this.taxable_amount}}</td>
                              <td>{{this.combined_tax_rate}}</td>
                              <td>{{getDecimal}}</td>
                              <td>{{getRounded}}</td>
                            </tr>
                          {{/with}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                {{/with}}
                <h4 style="font-weight: bold; margin-top: 2%;">
                  Totals.
                </h4>
                <div class="row">
                  <div class="col-md-6" style="border-bottom: 1px solid #eee;">
                    <p style="font-size: 1.3em; font-weight: bold;">Decimals</p>
                    {{#each resLineItemDetails.tax.breakdown.line_items}}
                    <p class="decimalVal" style="font-size: 1.3em;">+{{getDecimal}}</p>
                    {{/each}}
                    {{#with resLineItemDetails.tax.breakdown.shipping}}
                    <p class="decimalVal" style="font-size: 1.3em;">+{{getDecimal}} (Shipping)</p>
                    {{/with}}
                  </div>

                  <div class="col-md-6" style="border-bottom: 1px solid #eee;">
                    <p style="font-size: 1.3em; font-weight: bold;">Individually Rounded</p>
                    {{#each resLineItemDetails.tax.breakdown.line_items}}
                    <p class="roundedVal" style="font-size: 1.3em;">+{{getRounded}}</p>
                    {{/each}}
                    {{#with resLineItemDetails.tax.breakdown.shipping}}
                    <p class="roundedVal" style="font-size: 1.3em;">+{{getRounded}} (Shipping)</p>
                    {{/with}}
                  </div>
                </div>

                <div class="row" style="margin-top: 2%;">
                  <div class="col-md-6">
                    <p style="font-size: 1.3em; font-weight: bold;">= {{getTotalDecimal}}</p>
                  </div>

                  <div class="col-md-6">
                    <p style="font-size: 1.3em; font-weight: bold;">= {{getTotalRounded}}</p>
                  </div>
                </div>

                <div class="row" style="margin-top: 2%;">
                  <div class="col-md-12">
                    <p style="font-size: 1.3em;">Notice that the <code>"amount_to_collect"</code> of <strong>{{amountToCollect}}</strong> matches the sum of all decimals and <em>then</em> rounded. <strong>NOT</strong> the sum of all decimals individually rounded, and then added:<br/><br/>
                      <span style="margin: 0 auto;">{{getTotalDecimal}} -> <strong>{{getTotalDecimalRounded}}</strong></span><br/><br/>
                      While reasons for this may not be entirely clear from a technical perspective, a better understanding comes from rounding issues at the state level. The amount of sales tax collected that TaxJar calculates is what <a href="https://support.taxjar.com/article/106-rounding-sales-tax" target="_blank">TaxJar's reporting and sales tax returns would anticipate to file for the state</a>. <br/><br/>
                      For an additional perspective, see <a href="https://blog.taxjar.com/rounding-issues-sales-tax-returns/" target="_blank">"Rounding: Why your 'Sales Tax Collected' and 'Sales Tax Filed' Don't Always Match"</a>.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
      <!-- end row -->
    </div>
    <!-- Nav stuff -->
    <div class="col-md-2 ml-auto mr-auto">
      <div class="card" style="width: 100%; position: -webkit-sticky; position: sticky; top: 0;">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-center" style="font-weight: bold;">Request</h3>
              <a href="#addressParams">
                <p style="font-size: 1.2em;">Address Params</p>
              </a>
              <a href="#reqAmount">
                <p style="font-size: 1.2em;">Amount</p>
              </a>
              <a href="#reqShipping">
                <p style="font-size: 1.2em;">Shipping</p>
              </a>
              <a href="#reqCustomerId">
                <p style="font-size: 1.2em;">Customer ID</p>
              </a>
              <a href="#reqExemptionType">
                <p style="font-size: 1.2em;">Exemption Type</p>
              </a>
              <h4 class="text-center" style="font-weight: bold;">Line Items</h4>
              <a href="#reqLineItems">
                <p style="font-size: 1.2em;">Line Item Details</p>
              </a>
              <h3 class="text-center" style="font-weight: bold;">Response</h3>
              <a href="#resOta">
                <p style="font-size: 1.2em;">Order Total Amount</p>
              </a>
              <a href="#resShipping">
                <p style="font-size: 1.2em;">Shipping</p>
              </a>
              <a href="#resTaxableAmount">
                <p style="font-size: 1.2em;">Taxable Amount</p>
              </a>
              <a href="#resAtc">
                <p style="font-size: 1.2em;">Amount to Collect</p>
              </a>
              <a href="#resRate">
                <p style="font-size: 1.2em;">Rate</p>
              </a>
              <a href="#resHasNexus">
                <p style="font-size: 1.2em;">Has Nexus</p>
              </a>
              <a href="#resFreightTaxable">
                <p style="font-size: 1.2em;">Freight Taxable</p>
              </a>
              <a href="#resTaxSource">
                <p style="font-size: 1.2em;">Tax Source</p>
              </a>
              <a href="#resJurisdictions">
                <p style="font-size: 1.2em;">Jurisdictions</p>
              </a>
              <h4 class="text-center" style="font-weight: bold;">Breakdown</h4>
              <a href="#breakdownDetails">
                <p style="font-size: 1.2em;">Breakdown Details</p>
              </a>
              <h4 class="text-center" style="font-weight: bold;">Line Items</h4>
              <a href="#resLineItems">
                <p style="font-size: 1.2em;">Line Item Details</p>
              </a>
              <h4 class="text-center" style="font-weight: bold;">Shipping</h4>
              <a href="#resShippingDetails">
                <p style="font-size: 1.2em;">Shipping Details</p>
              </a>
              {{#if checkRounding.pennyRounding}}
                <h4 class="text-center" style="font-weight: bold;">Addtl. Info</h4>
                <a href="#pennyRounding">
                  <p style="font-size: 1.2em;">Penny Rounding</p>
                </a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script>
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
      anchor.addEventListener('click', function(e) {
        e.preventDefault();

        document.querySelector(this.getAttribute('href')).scrollIntoView({
          behavior: 'smooth'
        });
      });
    });
  </script>
</template>
