<template name="customerBusinessDetails">
  <div class="row">
    <div class="col-md-6 ml-auto mr-auto">
      <div class="card" style="height: 400px;">
        <div class="card-header card-header-rose card-header-text">
          <div class="card-icon">
            <i class="material-icons">person</i>
          </div>
          <h2 class="card-title text-center">Customer Details</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-5 ml-auto mr-auto">
              {{#if customer}}
                {{#with customer}}
                  <div style="font-size: 2em; color: #000; margin-top: 50%;">
                    <p class="text-center">{{this.customerName}}</p>
                    <p class="text-center">{{this.customerStreet}}</p>
                    <p class="text-center">{{this.customerCity}}, {{this.customerState}} {{this.customerZip}}</p>
                    <p class="text-center">Exemption Status: {{this.customerExemptionType}}</p>
                    <a href="#" class="btn btn-sm btn-danger btn-round mt-4 remove-customer text-center"><i class="material-icons" style='font-size: 1.5em;'>delete_forever</i></a>
                  </div>
                {{/with}}
              {{else}}
              {{#with customerAddress}}
                <div class="form-group bmd-form-group">
                  <label for="customerStreet">Street</label>
                  <input type="text" class="form-control customerAddressDetails" value="{{customerAddress.toStreetAddress}}" id="customerStreet">
                </div>

                <div class="form-group bmd-form-group">
                  <label for="customerCity">City</label>
                  <input type="text" class="form-control customerAddressDetails" value="{{customerAddress.toCity}}" id="customerCity">
                </div>

                <div class="form-group bmd-form-group">
                  <label for="customerState">State</label>
                  <input type="text" class="form-control customerAddressDetails" value="{{customerAddress.toState}}" id="customerState" maxlength="2">
                </div>

                <div class="form-group bmd-form-group">
                  <label for="customerZip">Zip Code</label>
                  <input type="text" class="form-control customerAddressDetails" value="{{customerAddress.toZipCode}}" id="customerZip" maxlength="5">
                </div>
              {{/with}}
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 ml-auto mr-auto">
      <div class="card" style="height: 400px;">
        <div class="card-header card-header-success card-header-text">
          <div class="card-icon">
            <i class="material-icons">api</i>
          </div>
          <h2 class="card-title text-center">From (business) Details</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-5 ml-auto mr-auto">
                {{#with businessAddress}}
                  <div class="form-group bmd-form-group">
                    <label for="businessStreet">Street</label>
                    <input type="text" class="form-control businessAddressDetails" value="{{this.streetAddress}}" id="fromStreet">
                  </div>

                  <div class="form-group bmd-form-group">
                    <label for="businessCity">City</label>
                    <input type="text" class="form-control businessAddressDetails" value="{{this.city}}" id="fromCity">
                  </div>

                  <div class="form-group bmd-form-group">
                    <label for="businessState">State</label>
                    <input type="text" class="form-control businessAddressDetails" value="{{this.state}}" id="fromState" maxlength="2">
                  </div>

                  <div class="form-group bmd-form-group">
                    <label for="businessZip">Zip Code</label>
                    <input type="text" class="form-control businessAddressDetails" value="{{this.zipCode}}" id="fromZip" maxlength="5">
                  </div>
                {{/with}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
